@model RegisterModel
@{ 
    Layout = "_AuthorizationLayout";
    ViewData["Title"] = "Register";
}
<div class="signin-page">
    <h2>Registration</h2>
    <form class="signin-form" asp-controller="Account" asp-action="Register">
        <label>Username</label>
        <input type="text" asp-for="Username">
        <br>
        <label>Password</label>
        <input type="text" asp-for="Password">
        <br>
        <label>Confirm Password</label>
        <input type="text" asp-for="ConfirmPassword">
        <div class="line"></div>        
        <button class="primary-button" type="submit">Register</button>
    </form>
</div>