@model SignInModel
@{
    Layout = "_AuthorizationLayout";
    ViewData["Title"] = "Sign In";
}

<div class="signin-page">
    <h2>Q & A</h2>
    <form class="signin-form" asp-controller="Account" asp-action="SignIn">
        <label>Username</label>
        <input type="text"  asp-for="Username">
        <br>
        <label>Password</label>
        <input type="text" asp-for="Password">
        <div class="line"></div>
        <button class="primary-button" type="submit">Sign in</button>
        <a class="sign-up" asp-controller="Account" asp-action="Register">New User? Sign Up</a>
    </form>
</div>
