<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/SignInStyle.css" type="text/css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
